  #infoH2 {
    font-style: italic;
  }
  
  #infoUl {
    background-color: #eeeeee;
    border: rgb(117, 174, 201) 5px solid;
    padding: 2em;
  }
  .job-title{
      color: gray;
      font-weight: bold;
      font-size: larger;
  }